In [1]:
import pandas as pd
from os import system

In [2]:
df = pd.read_json('chainlink/link_marine_stats.json')

In [3]:
df

    month  year                  rank  brothers
0    July  2021  General of Chainlink         1
1    July  2021               General       124
2    July  2021    Lieutenant General        58
3    July  2021         Major General        34
4    July  2021     Brigadier General        56
..    ...   ...                   ...       ...
166   Aug  2020        Staff Sergeant      1312
167   Aug  2020              Sergeant      1452
168   Aug  2020              Corporal      4861
169   Aug  2020            Specialist     11691
170   Aug  2020               Private     99079

[171 rows x 4 columns]