In [25]:
from coinbase.wallet.client import Client
import pandas as pd
import requests, datetime

In [11]:
api_key = "abRJTjZ5f940NqDm"
api_secret = "iZUizAftYAExBKIFktworjDksAWajsHU"
client = Client(api_key, api_secret)

In [ ]:

url = "https://api.exchange.coinbase.com/products/LINK-USD/candles"
response = requests.get(url)
kline_data  = eval(response.text)
headers = ["timestamp", "low", "high", "open", "close", "volume"]
df = pd.DataFrame(data=kline_data, columns=headers)


# Create a datetime object from the Unix time
#df["timestamp"] = datetime.datetime.fromtimestamp(df["timestamp"])
df["timestamp"] = df["timestamp"].astype(int)
for i in range(len(df["timestamp"])):
    df["timestamp"][i] = datetime.datetime.fromtimestamp(df["timestamp"][i])

In [43]:
df

               timestamp    low   high   open  close   volume
0    2022-12-04 21:44:00  7.546  7.549  7.549  7.546    61.19
1    2022-12-04 21:43:00  7.545  7.550  7.548  7.548   252.34
2    2022-12-04 21:42:00  7.548  7.551  7.549  7.549   521.15
3    2022-12-04 21:41:00  7.541  7.554  7.552  7.544  1049.14
4    2022-12-04 21:40:00  7.534  7.552  7.534  7.552  2588.30
..                   ...    ...    ...    ...    ...      ...
295  2022-12-04 16:49:00  7.374  7.377  7.374  7.377   546.56
296  2022-12-04 16:48:00  7.371  7.374  7.371  7.374   273.97
297  2022-12-04 16:47:00  7.369  7.371  7.370  7.370   666.94
298  2022-12-04 16:46:00  7.369  7.373  7.369  7.370  1427.18
299  2022-12-04 16:45:00  7.365  7.369  7.369  7.368   832.95

[300 rows x 6 columns]