In [2]:
import requests
import pandas as pd
from os import system
from coinbase.wallet.client import Client
from datetime import datetime as dt, timedelta

In [3]:
api_key = "your-api-key"
api_secret = "your-secret-key"
client = Client(api_key, api_secret)

In [4]:
def get_candles(sym, start, end):
    url = "https://api.exchange.coinbase.com"
    barSize = "86400"
    timeStart = start.isoformat()
    timeEnd = end.isoformat()
    parameters = {
        "start":timeStart,
        "end":timeEnd,
        "granularity":barSize
    }
    data = requests.get(f"{url}/products/{sym}/candles", 
                        params=parameters, 
                        headers= {"accept": "application/json"})
    return data

In [5]:
def kline_to_df(sym, start, end):
    kline_data  = eval(get_candles(sym, start, end).text)
    headers = ["timestamp", "low", "high", "open", "close", "volume"]
    df = pd.DataFrame(data=kline_data, columns=headers)
    df["timestamp"] = df["timestamp"].astype(int)
    for i in range(len(df["timestamp"])):
        df["timestamp"][i] = dt.fromtimestamp(df["timestamp"][i])
    df.iloc[:] = df.iloc[::-1].values
    return df

In [6]:
def year_df(sym, filename):
    df1 = kline_to_df(sym, dt(2022, 1, 2, 0, 0, 0, 0),dt(2022, 7, 1, 0, 0, 0, 0) )
    df2 = kline_to_df(sym, dt(2022, 7, 2, 0, 0, 0, 0),dt.now() )
    df = pd.concat([df1, df2], axis=0)
    df.to_csv(filename, index=False)
    return df

In [7]:
year_df("LINK-USD", "coinbase_link_hist_data.csv")
year_df("ETH-USD", "coinbase_eth_hist_data.csv")
year_df("BTC-USD", "coinbase_btc_hist_data.csv")

/var/folders/fm/gf09nxpx12n_7pcjsnlx5yt00000gn/T/ipykernel_36363/176154828.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["timestamp"][i] = dt.fromtimestamp(df["timestamp"][i])
/var/folders/fm/gf09nxpx12n_7pcjsnlx5yt00000gn/T/ipykernel_36363/176154828.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["timestamp"][i] = dt.fromtimestamp(df["timestamp"][i])
/var/folders/fm/gf09nxpx12n_7pcjsnlx5yt00000gn/T/ipykernel_36363/176154828.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["timestamp"][i] = dt.fromtimestamp(df["timestamp"][i])
/var/folders/fm/gf09nxpx12n_7pcjsnlx5yt00000gn/T/ipykernel_36363/176154828.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["timestamp"][i] = dt.fromtimestamp(df["timestamp"][i])
/var/folders/fm/gf09nxpx12n_7pcjsnlx5yt00000gn/T/ipykernel_36363/176154828.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["timestamp"][i] = dt.fromtimestamp(df["timestamp"][i])
/var/folders/fm/gf09nxpx12n_7pcjsnlx5yt00000gn/T/ipykernel_36363/176154828.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["timestamp"][i] = dt.fromtimestamp(df["timestamp"][i])

              timestamp       low      high      open     close        volume
0   2022-01-01 19:00:00  46633.36  47990.00  47733.43  47299.07   6833.498455
1   2022-01-02 19:00:00  45700.00  47583.33  47299.06  46459.56  10841.810205
2   2022-01-03 19:00:00  45515.00  47532.89  46459.57  45814.61  16320.327129
3   2022-01-04 19:00:00  42500.00  47076.55  45817.13  43436.04  25067.674768
4   2022-01-05 19:00:00  42432.99  43794.50  43446.34  43083.76  20780.047850
..                  ...       ...       ...       ...       ...           ...
188 2023-01-05 19:00:00  16670.82  17027.11  16825.53  16948.06  24235.387042
189 2023-01-06 19:00:00  16903.58  16977.76  16948.00  16942.37   5680.117994
190 2023-01-07 19:00:00  16910.41  17167.52  16942.37  17125.18   9195.459854
191 2023-01-08 19:00:00  17102.97  17396.25  17125.17  17177.98  33252.154359
192 2023-01-09 19:00:00  17145.10  17494.37  17177.94  17435.28  24729.228957

[374 rows x 6 columns]