In [135]:
from coinbase.wallet.client import Client
import pandas as pd
import requests
from datetime import datetime as dt, timedelta

In [136]:
api_key = "abRJTjZ5f940NqDm"
api_secret = "iZUizAftYAExBKIFktworjDksAWajsHU"
client = Client(api_key, api_secret)

In [137]:
def get_candles(start, end):
    url = "https://api.exchange.coinbase.com"
    sym = "LINK-USD"
    barSize = "86400"
    timeStart = start.isoformat()
    timeEnd = end.isoformat()
    parameters = {
        "start":timeStart,
        "end":timeEnd,
        "granularity":barSize
    }

    data = requests.get(f"{url}/products/{sym}/candles", 
                        params=parameters, 
                        headers= {"accept": "application/json"})
    return data

In [138]:
def kline_to_df(start, end):
    kline_data  = eval(get_candles(start,end).text)
    headers = ["timestamp", "low", "high", "open", "close", "volume"]
    df = pd.DataFrame(data=kline_data, columns=headers)
    df["timestamp"] = df["timestamp"].astype(int)
    for i in range(len(df["timestamp"])):
        df["timestamp"][i] = dt.fromtimestamp(df["timestamp"][i])
    df.iloc[:] = df.iloc[::-1].values
    return df

In [139]:
df1 = kline_to_df( dt(2022, 1, 2, 0, 0, 0, 0),dt(2022, 7, 1, 0, 0, 0, 0) )
df2 = kline_to_df( dt(2022, 7, 2, 0, 0, 0, 0),dt.now() )
df = pd.concat([df1, df2], axis=0)

/var/folders/fm/gf09nxpx12n_7pcjsnlx5yt00000gn/T/ipykernel_29653/3708857469.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["timestamp"][i] = dt.fromtimestamp(df["timestamp"][i])
/var/folders/fm/gf09nxpx12n_7pcjsnlx5yt00000gn/T/ipykernel_29653/3708857469.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["timestamp"][i] = dt.fromtimestamp(df["timestamp"][i])

In [140]:
df.iloc[:50]

             timestamp    low      high   open  close      volume
0  2022-01-01 19:00:00  20.57  22.22000  20.75  21.88  2326435.14
1  2022-01-02 19:00:00  21.26  23.82000  21.88  23.72  3676303.71
2  2022-01-03 19:00:00  22.78  24.48000  23.71  23.43  3468466.07
3  2022-01-04 19:00:00  22.34  27.50000  23.43  25.22  9725212.84
4  2022-01-05 19:00:00  23.31  25.99000  25.23  25.39  6443317.27
5  2022-01-06 19:00:00  22.65  27.33000  25.40  25.97  8034336.23
6  2022-01-07 19:00:00  23.56  27.36000  25.98  25.31  5649061.36
7  2022-01-08 19:00:00  25.09  28.71145  25.33  27.54  6947266.40
8  2022-01-09 19:00:00  25.09  28.52000  27.55  27.98  7146693.31
9  2022-01-10 19:00:00  25.85  28.70000  27.98  26.60  5119948.95
10 2022-01-11 19:00:00  25.62  27.27000  26.60  26.76  3688692.50
11 2022-01-12 19:00:00  24.42  26.77000  26.75  24.88  3748891.13
12 2022-01-13 19:00:00  23.91  25.90000  24.87  25.74  2981159.58
13 2022-01-14 19:00:00  25.13  26.23000  25.74  25.19  1804584.21
14 2022-01-15 19:00:00  24.68  26.36000  25.18  25.51  1453583.26
15 2022-01-16 19:00:00  23.27  25.63000  25.50  23.80  2187773.78
16 2022-01-17 19:00:00  22.04  24.34000  23.80  22.98  3221765.07
17 2022-01-18 19:00:00  21.23  23.15000  22.97  21.56  2903396.20
18 2022-01-19 19:00:00  20.03  22.99000  21.55  20.18  3628543.84
19 2022-01-20 19:00:00  17.12  20.51000  20.16  17.44  8626310.09
20 2022-01-21 19:00:00  14.28  17.83000  17.42  15.86  8577253.52
21 2022-01-22 19:00:00  15.15  16.88000  15.87  16.67  4251482.53
22 2022-01-23 19:00:00  13.48  16.67000  16.66  15.61  7242677.13
23 2022-01-24 19:00:00  14.59  16.04000  15.61  15.49  4492333.11
24 2022-01-25 19:00:00  14.69  16.82000  15.51  15.24  5927770.27
25 2022-01-26 19:00:00  14.31  15.71000  15.25  15.23  5344486.38
26 2022-01-27 19:00:00  14.75  16.29000  15.23  16.16  4790742.65
27 2022-01-28 19:00:00  15.97  16.75000  16.15  16.24  2541936.38
28 2022-01-29 19:00:00  16.02  18.13000  16.24  17.77  5208012.03
29 2022-01-30 19:00:00  16.41  17.89000  17.76  17.16  5565683.91
30 2022-01-31 19:00:00  16.84  17.90000  17.17  17.00  4533943.28
31 2022-02-01 19:00:00  15.57  17.38000  17.00  15.79  3393191.03
32 2022-02-02 19:00:00  15.26  16.32000  15.80  16.31  4074152.66
33 2022-02-03 19:00:00  16.03  17.55000  16.31  17.51  3462797.96
34 2022-02-04 19:00:00  17.43  18.33000  17.53  17.77  3409455.61
35 2022-02-05 19:00:00  17.19  18.18000  17.78  18.08  2300752.16
36 2022-02-06 19:00:00  17.67  19.58000  18.08  18.88  4597817.68
37 2022-02-07 19:00:00  17.74  19.56000  18.90  18.40  4326377.02
38 2022-02-08 19:00:00  17.76  18.77000  18.40  18.70  2268691.02
39 2022-02-09 19:00:00  17.36  18.77000  18.70  17.51  4780443.27
40 2022-02-10 19:00:00  15.91  17.83000  17.51  16.22  4252227.21
41 2022-02-11 19:00:00  15.57  16.39000  16.21  15.97  2980310.15
42 2022-02-12 19:00:00  15.53  16.34000  15.96  15.60  1974359.07
43 2022-02-13 19:00:00  15.21  16.13000  15.61  15.90  3210784.98
44 2022-02-14 19:00:00  15.82  17.47000  15.91  17.35  2911584.48
45 2022-02-15 19:00:00  16.52  17.43000  17.36  17.14  2638175.33
46 2022-02-16 19:00:00  15.47  17.46000  17.14  15.60  3754731.09
47 2022-02-17 19:00:00  15.04  16.06000  15.61  15.20  3289460.52
48 2022-02-18 19:00:00  14.85  15.69000  15.19  15.52  2539336.92
49 2022-02-19 19:00:00  14.42  15.54000  15.53  14.62  3441089.46

In [141]:
df.iloc[50:100]

             timestamp    low   high   open  close       volume
50 2022-02-20 19:00:00  13.39  15.31  14.61  13.51   4616902.69
51 2022-02-21 19:00:00  13.04  14.20  13.51  13.98   4916054.42
52 2022-02-22 19:00:00  13.30  14.68  13.99  13.34   3650964.06
53 2022-02-23 19:00:00  11.42  13.97  13.35  13.27  10606117.81
54 2022-02-24 19:00:00  13.08  14.50  13.28  14.39   3475679.55
55 2022-02-25 19:00:00  14.10  15.05  14.37  14.72   2257139.53
56 2022-02-26 19:00:00  13.47  14.86  14.73  13.65   3034310.57
57 2022-02-27 19:00:00  13.32  15.16  13.65  15.14   3521407.78
58 2022-02-28 19:00:00  14.73  15.74  15.13  15.36   3037350.42
59 2022-03-01 19:00:00  14.91  15.87  15.36  15.29   2883372.80
60 2022-03-02 19:00:00  14.47  15.40  15.28  14.89   2216173.79
61 2022-03-03 19:00:00  13.56  14.98  14.90  13.74   2797090.45
62 2022-03-04 19:00:00  13.42  14.28  13.75  14.00   1192060.12
63 2022-03-05 19:00:00  13.26  14.13  14.00  13.32   1177091.89
64 2022-03-06 19:00:00  12.40  13.66  13.32  12.67   3759923.78
65 2022-03-07 19:00:00  12.57  13.56  12.70  13.09   2438164.21
66 2022-03-08 19:00:00  13.06  14.46  13.09  14.02   2461516.62
67 2022-03-09 19:00:00  12.99  14.11  14.02  13.17   2217975.03
68 2022-03-10 19:00:00  12.81  13.66  13.17  13.04   1661858.53
69 2022-03-11 19:00:00  13.03  13.46  13.05  13.14    786362.95
70 2022-03-12 19:00:00  12.60  13.43  13.15  12.71   1031991.19
71 2022-03-13 20:00:00  12.60  13.44  12.71  13.41   1668789.97
72 2022-03-14 20:00:00  12.87  13.80  13.41  13.70   1785582.19
73 2022-03-15 20:00:00  13.67  14.79  13.72  14.68   2663087.12
74 2022-03-16 20:00:00  14.24  14.93  14.68  14.41   1261527.83
75 2022-03-17 20:00:00  14.12  15.29  14.41  15.02   1709414.37
76 2022-03-18 20:00:00  14.83  15.41  15.02  15.01   1333351.47
77 2022-03-19 20:00:00  14.42  15.13  15.00  14.56   1084696.88
78 2022-03-20 20:00:00  14.31  15.28  14.57  15.00   1388230.83
79 2022-03-21 20:00:00  14.98  15.85  14.99  15.43   1603363.10
80 2022-03-22 20:00:00  15.13  15.96  15.43  15.85   1396651.14
81 2022-03-23 20:00:00  15.60  16.45  15.84  16.17   1879493.54
82 2022-03-24 20:00:00  15.48  16.46  16.17  15.61   2234458.18
83 2022-03-25 20:00:00  15.50  15.96  15.61  15.84   1292821.47
84 2022-03-26 20:00:00  15.64  16.91  15.85  16.87   1577170.91
85 2022-03-27 20:00:00  16.37  17.36  16.87  16.51   2632516.22
86 2022-03-28 20:00:00  16.48  17.53  16.50  16.99   2553035.54
87 2022-03-29 20:00:00  16.53  17.57  16.98  17.23   2079327.64
88 2022-03-30 20:00:00  16.65  18.06  17.23  16.93   2740786.44
89 2022-03-31 20:00:00  16.17  17.37  16.92  17.36   2347176.53
90 2022-04-01 20:00:00  17.11  17.88  17.36  17.42   1507076.67
91 2022-04-02 20:00:00  17.16  18.32  17.42  18.08   1655163.09
92 2022-04-03 20:00:00  16.83  18.09  18.08  17.51   2324628.78
93 2022-04-04 20:00:00  16.66  17.66  17.51  16.75   1541344.20
94 2022-04-05 20:00:00  15.29  16.78  16.76  15.43   2734087.26
95 2022-04-06 20:00:00  15.09  15.88  15.42  15.75   1645726.77
96 2022-04-07 20:00:00  15.03  15.91  15.74  15.14   1343994.49
97 2022-04-08 20:00:00  15.12  15.47  15.14  15.43    666660.93
98 2022-04-09 20:00:00  15.18  15.93  15.44  15.24    784446.09
99 2022-04-10 20:00:00  13.52  15.28  15.24  13.76   2142398.93

In [142]:
df.iloc[100:150]

              timestamp    low   high   open  close      volume
100 2022-04-11 20:00:00  13.64  14.33  13.76  13.97  1638779.64
101 2022-04-12 20:00:00  13.68  14.23  13.97  14.20  2083438.46
102 2022-04-13 20:00:00  13.33  14.33  14.19  13.64  1913845.52
103 2022-04-14 20:00:00  13.63  14.19  13.64  14.11   676700.55
104 2022-04-15 20:00:00  13.84  14.28  14.12  14.14   495634.34
105 2022-04-16 20:00:00  13.65  14.62  14.15  13.72   960857.62
106 2022-04-17 20:00:00  13.15  14.07  13.73  14.06  2597482.29
107 2022-04-18 20:00:00  13.84  14.41  14.06  14.25   992324.86
108 2022-04-19 20:00:00  13.70  14.49  14.25  14.03  1043440.07
109 2022-04-20 20:00:00  13.37  14.38  14.03  13.58  1284747.39
110 2022-04-21 20:00:00  13.47  13.88  13.58  13.59  1519701.68
111 2022-04-22 20:00:00  13.21  13.68  13.59  13.32   986623.11
112 2022-04-23 20:00:00  13.21  13.64  13.31  13.26   739462.91
113 2022-04-24 20:00:00  12.53  13.53  13.28  13.44  2073486.38
114 2022-04-25 20:00:00  12.10  13.50  13.44  12.37  1770375.44
115 2022-04-26 20:00:00  12.31  12.80  12.37  12.75  1375705.02
116 2022-04-27 20:00:00  12.40  12.99  12.75  12.65  1165147.50
117 2022-04-28 20:00:00  11.84  12.73  12.66  11.98  1373827.72
118 2022-04-29 20:00:00  10.67  12.25  11.98  10.97  1560540.65
119 2022-04-30 20:00:00  10.82  11.49  10.96  11.29  1481217.64
120 2022-05-01 20:00:00  10.77  11.45  11.30  11.17  1936435.42
121 2022-05-02 20:00:00  10.78  11.51  11.18  11.13  1713842.55
122 2022-05-03 20:00:00  11.11  12.21  11.12  12.20  2194735.05
123 2022-05-04 20:00:00  10.61  12.29  12.20  10.92  2689688.17
124 2022-05-05 20:00:00  10.39  11.03  10.92  10.79  2730935.19
125 2022-05-06 20:00:00  10.00  10.84  10.78  10.21  1697860.51
126 2022-05-07 20:00:00   9.84  10.38  10.21   9.99  2614421.33
127 2022-05-08 20:00:00   8.01  10.16  10.00   8.10  8845600.39
128 2022-05-09 20:00:00   7.89   9.33   8.10   8.58  8018671.41
129 2022-05-10 20:00:00   6.52   8.84   8.58   6.93  9670183.39
130 2022-05-11 20:00:00   5.30   7.41   6.91   6.56  9870675.54
131 2022-05-12 20:00:00   6.47   7.71   6.55   7.13  4754279.06
132 2022-05-13 20:00:00   6.63   7.43   7.15   7.25  2336500.20
133 2022-05-14 20:00:00   7.01   7.99   7.25   7.96  2232138.72
134 2022-05-15 20:00:00   7.16   7.97   7.97   7.42  2345630.20
135 2022-05-16 20:00:00   7.29   7.97   7.41   7.71  2393951.64
136 2022-05-17 20:00:00   6.76   7.80   7.71   6.79  2835567.71
137 2022-05-18 20:00:00   6.64   7.27   6.79   7.21  2681194.24
138 2022-05-19 20:00:00   6.73   7.35   7.21   6.86  2576850.15
139 2022-05-20 20:00:00   6.76   7.11   6.86   7.05  1272274.30
140 2022-05-21 20:00:00   6.90   7.40   7.05   7.32  1800151.59
141 2022-05-22 20:00:00   6.98   7.67   7.32   7.01  2604320.31
142 2022-05-23 20:00:00   6.71   7.30   7.01   7.22  2826877.75
143 2022-05-24 20:00:00   6.93   7.39   7.22   6.95  2561008.82
144 2022-05-25 20:00:00   6.22   7.08   6.95   6.57  3687503.87
145 2022-05-26 20:00:00   6.21   6.71   6.57   6.28  8591311.25
146 2022-05-27 20:00:00   6.19   6.65   6.29   6.57  5386858.15
147 2022-05-28 20:00:00   6.33   6.75   6.57   6.71  4511558.35
148 2022-05-29 20:00:00   6.64   7.52   6.71   7.45  7353187.96
149 2022-05-30 20:00:00   7.17   7.72   7.46   7.59  6073464.45

In [144]:
df.iloc[150:200]

              timestamp    low   high   open  close       volume
150 2022-05-31 20:00:00  6.760  7.780  7.590  6.930   5635072.83
151 2022-06-01 20:00:00  6.810  7.244  6.920  7.191   3904233.28
152 2022-06-02 20:00:00  6.661  7.218  7.192  6.847   6036419.90
153 2022-06-03 20:00:00  6.671  7.429  6.850  7.406   7624270.37
154 2022-06-04 20:00:00  7.240  7.870  7.407  7.640   7198071.92
155 2022-06-05 20:00:00  7.620  8.194  7.639  7.971   8081201.52
156 2022-06-06 20:00:00  7.305  8.990  7.970  8.705   5926447.08
157 2022-06-07 20:00:00  8.220  8.971  8.706  8.696   5062450.71
158 2022-06-08 20:00:00  8.487  9.652  8.702  9.260   5863721.33
159 2022-06-09 20:00:00  8.000  9.525  9.262  8.033   5608966.81
160 2022-06-10 20:00:00  6.930  8.421  8.032  7.036   6580721.12
161 2022-06-11 20:00:00  6.251  7.135  7.036  6.260   6328605.31
162 2022-06-12 20:00:00  5.286  6.336  6.258  5.917  13362707.52
163 2022-06-13 20:00:00  5.381  6.866  5.913  6.713  10574884.74
164 2022-06-14 20:00:00  5.824  7.368  6.720  7.320   9387396.27
165 2022-06-15 20:00:00  6.197  7.500  7.318  6.352   6563883.44
166 2022-06-16 20:00:00  6.250  6.725  6.349  6.360   3836815.58
167 2022-06-17 20:00:00  5.400  6.467  6.356  5.918   6633115.65
168 2022-06-18 20:00:00  5.818  6.815  5.920  6.592   4476916.89
169 2022-06-19 20:00:00  6.302  7.288  6.593  6.974   4071851.73
170 2022-06-20 20:00:00  6.748  7.557  6.972  6.850   3867866.64
171 2022-06-21 20:00:00  6.447  7.025  6.852  6.616   4034338.30
172 2022-06-22 20:00:00  6.596  7.081  6.615  6.987   2966319.92
173 2022-06-23 20:00:00  6.939  7.434  6.990  7.253   2787201.71
174 2022-06-24 20:00:00  6.798  7.370  7.263  7.258   2228017.37
175 2022-06-25 20:00:00  6.688  7.484  7.262  6.700   2567225.28
176 2022-06-26 20:00:00  6.390  6.991  6.694  6.547   2785503.72
177 2022-06-27 20:00:00  6.264  7.249  6.550  6.303   4390494.23
178 2022-06-28 20:00:00  6.117  6.480  6.305  6.224   3242551.54
179 2022-06-29 20:00:00  5.881  6.307  6.228  6.277   3430320.93
180 2022-06-30 20:00:00  5.924  6.434  6.274  6.069   3189833.81
0   2022-07-01 20:00:00  5.973  6.277  6.073  6.216   1645306.63
1   2022-07-02 20:00:00  6.010  6.235  6.216  6.210   1326738.63
2   2022-07-03 20:00:00  6.014  6.451  6.208  6.427   2306492.63
3   2022-07-04 20:00:00  6.049  6.544  6.428  6.305   3224472.01
4   2022-07-05 20:00:00  6.164  6.418  6.303  6.331   2009349.44
5   2022-07-06 20:00:00  6.297  6.757  6.333  6.636   2906090.53
6   2022-07-07 20:00:00  6.330  6.820  6.640  6.353   2765691.19
7   2022-07-08 20:00:00  6.341  6.580  6.351  6.479   1177579.02
8   2022-07-09 20:00:00  6.106  6.484  6.479  6.191   1693144.71
9   2022-07-10 20:00:00  5.979  6.425  6.191  6.038   2683050.30
10  2022-07-11 20:00:00  5.914  6.234  6.038  5.941   2189724.26
11  2022-07-12 20:00:00  5.686  6.189  5.939  6.172   3419653.57
12  2022-07-13 20:00:00  5.988  6.383  6.170  6.270   2590627.95
13  2022-07-14 20:00:00  6.117  6.454  6.271  6.321   2420997.14
14  2022-07-15 20:00:00  6.140  6.616  6.323  6.596   2137490.40
15  2022-07-16 20:00:00  6.313  6.710  6.596  6.345   2290399.00
16  2022-07-17 20:00:00  6.327  7.159  6.348  7.038   4275483.08
17  2022-07-18 20:00:00  6.732  7.375  7.039  7.258   4865618.77
18  2022-07-19 20:00:00  6.811  7.600  7.257  6.869   5168509.49